<html>
<head>
    <title>Contact Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/marketsnapcontactus/css/contact-us.css') }}">
    {% endblock %}
    <style>
    </style>
</head>
<body class="demo">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 envelope">
                <header><h2>Contact Request Form</h2></header>
                <div class="controls">
                    <div id="embedded-form-container-e16110d0-323f-49ed-89a7-57dc70eb3996"></div>
                    <script type="text/javascript" src="http://orocrmdemo.local/bundles/oroembeddedform/js/embed.form.js?version=86b27dc9"></script>
                    <script type="text/javascript">
                        new ORO.EmbedForm({
                            container: 'embedded-form-container-e16110d0-323f-49ed-89a7-57dc70eb3996',
                            xhr: {
                                url: "http://orocrmdemo.local/app_dev.php/embedded-form/submit/e16110d0-323f-49ed-89a7-57dc70eb3996?inline=1"
                            }
                        });
                    </script>
                </div><!-- /.8 -->

            </div> <!-- /.row-->

        </div> <!-- /.container-->
    </div>
</body>
</html>
