{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as ui %}
{% set fullname = entity|oro_format_name|default('N/A') %}
{% oro_title_set({ params : {"%request.clientName%": fullname} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orocrm_contactus_request_index'),
        'indexLabel': 'orocrm.contactus.contactrequest.entity_plural_label'|trans,
        'entityTitle': fullname
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if resource_granted('orocrm_contactus_request_delete') %}
        {{ UI.deleteButton({
            'dataUrl': path('orocrm_contactus_request_delete', {'id': entity.id}),
            'dataRedirect': path('orocrm_contactus_request_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-contact-request-form',
            'dataId': entity.id,
            'entity_label': 'orocrm.contactus.contactrequest.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}

    {{ UI.button({'path' : path('orocrm_contactus_request_index'), 'title' : 'Cancel'|trans, 'label' : 'Cancel'|trans}) }}
    {{ UI.button({'path' : path('orocrm_create_contact' , {'id': entity.id}), 'class': 'btn-primary', 'title' : 'Create Contact'|trans, 'label' : 'Create Contact'|trans}) }}
    {% if resource_granted('orocrm_contactus_request_edit') %}
        {{ UI.editButton({
            'path': path('orocrm_contactus_request_update', {'id': entity.id}),
            'entity_label': 'orocrm.contactus.contactrequest.entity_label'|trans,
        }) }}
    {% endif %}
{% endblock %}

{% block content_data %}
    {% set contactRequestInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('orocrm_contactus_request_info', {id: entity.id}),
            'title': 'orocrm.contactus.block.request_information'|trans
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [
                {'data': [contactRequestInformationWidget]}
            ]
        }
    ] %}

    {% set id = 'contactRequestView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock %}
