{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroCRMChannelBundle::macros.html.twig' as channel %}
<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.sales.opportunity.name.label'|trans, entity.name) }}
            {{ ui.renderProperty('orocrm.sales.opportunity.status.label'|trans, entity.status) }}

            {{ channel.renderChannelProperty(entity, 'orocrm.sales.lead.data_channel.label') }}

            {%- if entity.contact and resource_granted('VIEW', entity.contact) -%}
                {% set contactView = ui.renderUrl(path('orocrm_contact_view', {'id': entity.contact.id}), entity.contact|oro_format_name) %}
            {%- else -%}
                {% set contactView = entity.contact ? entity.contact|oro_format_name|escape : '' %}
            {%- endif -%}

            {{ ui.renderHtmlProperty('orocrm.sales.opportunity.contact.label'|trans, contactView) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.sales.opportunity.probability.label'|trans, entity.probability|length ? entity.probability|oro_format_percent : '') }}
            {{ ui.renderProperty('orocrm.sales.opportunity.budget_amount.label'|trans, entity.budgetAmount|length ? entity.budgetAmount|oro_format_currency : '', entity, 'budgetAmount') }}

            {{ ui.renderHtmlProperty('orocrm.sales.opportunity.customer_need.label'|trans, entity.customerNeed|striptags|escape|nl2br) }}
            {{ ui.renderHtmlProperty('orocrm.sales.opportunity.proposed_solution.label'|trans, entity.proposedSolution|striptags|escape|nl2br) }}
            {#{{ ui.renderProperty('orocrm.sales.opportunity.close_reason.label'|trans, entity.closeReason) }}
            {{ ui.renderProperty('orocrm.sales.opportunity.close_revenue.label'|trans, entity.closeRevenue|length ? entity.closeRevenue|oro_format_currency : '', entity, 'closeRevenue') }}
            {{ ui.renderProperty('orocrm.sales.opportunity.close_date.label'|trans, entity.closeDate ? entity.closeDate|oro_format_date : '') }}#}
            {{ ui.renderHtmlProperty('orocrm.sales.opportunity.notes.label'|trans, entity.notes) }}
        </div>
    </div>
</div>
