{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName  = 'app-tasks-grid' %}
{% set pageTitle = 'orocrm.customer.customerinfo.entity_plural_label'|trans %}


{% block navButtons %}
    {% if resource_granted('app_task_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('app_task_create'),
                'entity_label': 'orocrm.customer.customerinfo.entity_label'|trans,
            }) }}
        </div>
    {% endif %}
{% endblock %}
