{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'user-accounts-grid' %}
{% set pageTitle = 'orocrm.account.entity_plural_label'|trans %}

{% block navButtons %}
    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
    entity_class: entity_class,
    exportProcessor: 'orocrm_account',
    exportTemplateProcessor: 'orocrm_account',
    importProcessor: 'orocrm_account.add_or_replace',
    importTitle: 'oro.importexport.import.entity'|trans({'%entityName%': 'orocrm.account.entity_plural_label'|trans}),
    dataGridName: gridName
    } %}

    {% if resource_granted('orocrm_account_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('orocrm_account_create'),
                'entity_label': 'orocrm.account.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
