{% extends 'OroUIBundle:actions:view.html.twig' %}
{% set name = entity.name|default('N/A') %}
{% oro_title_set({params : {"%opportunity.name%": name} }) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orocrm_sales_opportunity_update', { 'id': entity.id }),
            'entity_label': 'orocrm.sales.opportunity.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_opportunity', {'id': entity.id}),
            'dataRedirect': path('orocrm_sales_opportunity_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-contact',
            'dataId': entity.id,
            'entity_label': 'orocrm.sales.opportunity.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('orocrm_sales_opportunity_index'),
        'indexLabel': 'orocrm.sales.opportunity.entity_plural_label'|trans,
        'entityTitle': name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.status.name != 'lost' %}
            <div class="badge badge-enabled status-enabled">
                <i class="icon-status-enabled icon-circle"></i>{{ entity.status.name }}</div>
        {% else %}
            <div class="badge badge-disabled status-disabled">
                <i class="icon-status-disabled icon-circle"></i>{{ entity.status.name  }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    {% set opportunityInfoWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('orocrm_sales_opportunity_info', { id: entity.id }),
            'title': 'Opportunity Information'
        }) }}
    {% endset %}

    {% set generalSubblocks = [{'data' : [opportunityInfoWidget] }] %}
    {% set dataBlocks = [
    {
        'title': 'Opportunity Information'|trans,
        'class': 'active',
        'subblocks': generalSubblocks
        }
    ] %}

    {% set id = 'opportunityView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
