{% extends 'OroAddressBundle:Include:fields.html.twig' %}

{% block oro_typed_address_rows %}
    {{ form_row(form.types, {label: 'orocrm.contact.contactaddress.types.label'}) }}
    {{ form_row(form.primary, {label: 'orocrm.contact.contactaddress.primary.label'}) }}
    {{ block('oro_address_rows') }}
{%  endblock %}

{% block oro_address_rows %}
    {{ form_row(form.id) }}
    {{ form_row(form.label, {label: 'orocrm.contact.contactaddress.label.label'}) }}
    {% do form.namePrefix.setRendered %}
    {% do form.firstName.setRendered %}
    {% do form.middleName.setRendered %}
    {% do form.lastName.setRendered %}
    {% do form.nameSuffix.setRendered %}
    {{ form_row(form.organization, {label: 'orocrm.contact.contactaddress.organization.label'}) }}
    {{ form_row(form.country, {label: 'orocrm.contact.contactaddress.country.label'}) }}
    {{ form_row(form.street, {label: 'orocrm.contact.contactaddress.street.label'}) }}
    {{ form_row(form.street2, {label: 'orocrm.contact.contactaddress.street2.label'}) }}
    {{ form_row(form.city, {label: 'orocrm.contact.contactaddress.city.label'}) }}
    {{ form_row(form.region_text, {label: 'orocrm.contact.contactaddress.region_text.label'}) }}
    {{ form_row(form.region, {label: 'orocrm.contact.contactaddress.region.label'}) }}
    {{ form_row(form.postalCode, {label: 'orocrm.contact.contactaddress.postal_code.label'}) }}
    {{ form_rest(form) }}
{%  endblock %}
