{% import 'OroUIBundle::macros.html.twig' as UI %}
{% for groupName, group in data -%}
    {% if groupName is empty or group.widgets|length <= 2 -%}
        {% for widget in group.widgets -%}
            {% include widget.button.template with { data: widget.button.data|default([]) } %}
        {%- endfor -%}
    {% else -%}
        {% set items = [] -%}
        {% for widget in group.widgets -%}
            {% set items = items|merge(['<li>' ~ include(widget.link.template, { data: widget.button.data|default([]) }) ~ '</li>']) -%}

        {% endfor -%}
        {% if oro_class_name(entity) == "OroCRM\\Bundle\\ContactBundle\\Entity\\Contact" %}
            {% set items = items|merge(['<li><a href="' ~ path( 'orocrm_sales_opportunity_create', { 'customerId': entity.id } )  ~ '" title="Add a Opportunity"><i class="icon-dollar hide-text">Add task</i>Create Opportunity</a></li>']) -%}
        {% endif %}
        {{ UI.dropdownButton({
            'label': group.label,
            'aCss': 'pull-left',
            'html': items|join
        }) }}
    {%- endif -%}
{% endfor %}
