{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}
{% import 'OroCRMChannelBundle::macros.html.twig' as channel %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">

            {{ ui.renderProperty('orocrm.customer.customerinfo.name.label'|trans, entity.Name) }}

            {{ ui.renderHtmlProperty('orocrm.customer.customerinfo.category.label'|trans, entity.category) }}
            {{ ui.renderHtmlProperty('orocrm.customer.customerinfo.description.label'|trans, entity.description) }}
            {{ ui.renderProperty('orocrm.customer.customerinfo.priority.label'|trans, entity.priority) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
