@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
* {
    /* With these codes padding and border does not increase it's width and gives intuitive style.*/

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    font-family: 'Roboto Slab', serif;
}
div.envelope{
    width: 55%;
    margin: 10px 30% 10px 25%;
    padding:10px 0;
    border: 2px solid gray;
    border-radius:10px;
}

#orocrm_contactus_contact_request_submit {
    background: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 13px 14px 33px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
header{
    background-color: #4cae4c;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-top: -11px;
    margin-bottom: -8px;
    border-radius: 10px 10px 0 0;
    color: aliceblue;
}
form{
    width:70%;
    margin:4% 15%;
}
input[type=text]{
    margin-bottom: 20px;
    margin-top: 10px;
    width:100%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #7ac9b7;
}
button#orocrm_contactus_contact_request_submit
{
    margin-bottom: 20px;
    width:100%;
    border-radius:5px;
    border:1px solid #7ac9b7;
    background-color: #4cae4c;
    color: aliceblue;
    font-size:15px;
    cursor:pointer;
}
#orocrm_contactus_contact_request_submit:hover
{
    background-color: #21bf21;
}
textarea{
    width:100%;
    padding: 15px;
    margin-top: 10px;
    border:1px solid #7ac9b7;
    border-radius:5px;
    margin-bottom: 20px;
    resize:none;
    min-width: 100% !important;
}
input[type=text]:focus,textarea:focus {
    border-color: #4697e4;
}
p {
    margin: 30px 24px 20px;
}
.envelope a {
    margin: 30px 24px 20px;
    margin-bottom: 20px;
    font-size: 17px;
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    /* For portrait layouts only */
    div.envelope{
        width: 80%;
        margin: 10px 30% 10px 11%;
    }
}

@media screen and (max-width: 600px) and (min-width: 351px) {
    /* STYLES HERE */
    h2{
        font-size:16px;
    }
    p{
        font-size:14px;
    }
    label{
        font-size:12px;
    }
    button#orocrm_contactus_contact_request_submit {
        padding:5px;
    }
    input[type=text]{
        padding: 8px;
        max-width: 50%;
    }
    div.envelope{
        width: 80%;
        margin: 10px 30% 10px 11%;
    }
}
@media only screen and (max-width:350px){
    /* styles for browsers larger than 960px; */
    button#orocrm_contactus_contact_request_submit
    {
        padding:4px;
        font-size:12px;
    }
    input[type=text]{
        padding: 8px;
        max-width: 46%;
    }
    .row-group textarea {
        min-width: 0%;
    }
    label{
        font-size:12px;
    }
    h2{
        font-size:15px;
    }
    p{
        font-size:12px;
    }
    div.envelope{
        width: 80%;
        margin: 10px 30% 10px 11%;
    }
}