<html>
<head>
    <title>Contact Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/marketsnapcontact/css/custom.css') }}">
    {% endblock %}
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

            <h1>Contact form</h1>
            {{ form_start(form, {'attr': {'id': 'contact-form'}}) }}


            <div class="header">
                {% for flash_message_error in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flash_message_error }}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    </div>
                {% endfor %}
                {% for flash_message_success in app.session.flashBag.get('success') %}
                    <div class="alert alert-success ">
                        {{ flash_message_success }}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    </div>
                {% endfor %}
            </div>

            <div class="controls">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">{{ form_label(form.firstName) }}</label>
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Please enter your firstname' , 'data-error':"Firstname is required."}}) }}
                            <div class="help-block with-errors"></div>
                            <div class="input-error">{{ form_errors(form.firstName) }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">{{ form_label(form.lastName) }}</label>
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Please enter your lastName', 'data-error':"Lastname is required."}}) }}
                            <div class="help-block with-errors"></div>
                            <div class="input-error">{{ form_errors(form.lastName) }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">{{ form_label(form.email) }}</label>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Please enter your email', 'data-error':"Email is required."}}) }}
                            <div class="help-block with-errors"></div>
                            <div class="input-error">{{ form_errors(form.email) }}</div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">{{ form_label(form.phone) }}</label>
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Please enter your phone', 'data-error':"Phone is required."}}) }}
                            <div class="help-block with-errors"></div>
                            <div class="input-error">{{ form_errors(form.phone) }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">{{ form_label(form.method) }}</label>
                            {{ form_widget(form.method, {'attr': {'class': 'form-control', 'data-error':"Please Choose Contact Method."}}) }}
                            <div class="help-block with-errors"></div>
                            <div class="input-error">{{ form_errors(form.method) }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">{{ form_label(form.leave_voice_mail) }}</label>
                            {{ form_widget(form.leave_voice_mail, {'attr': {'class': 'form-control', 'data-error':"Please Choose Contact Method."}}) }}
                            <div class="help-block with-errors"></div>
                            <div class="input-error">{{ form_errors(form.leave_voice_mail) }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name">{{ form_label(form.description) }}</label>
                            {{ form_widget(form.description, {'attr': {'class': 'form-control message', 'placeholder': 'Please enter your description', 'data-error':"Description is required."}}) }}
                            <div class="help-block with-errors"></div>
                            <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
                            <div class="input-error">{{ form_errors(form.description) }}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success btn-send" value="Send message">
                    </div>
                </div>
            </div>

            {{ form_end(form) }}

        </div><!-- /.8 -->

    </div> <!-- /.row-->

</div> <!-- /.container-->

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/marketsnapcontact/js/contact.js') }}"></script>
{% endblock %}
</body>
</html>
