{# src/Acme/Bundle/ExampleBundle/Resources/views/Example/index.html.twig #}
{% extends "OroUIBundle:Default:index.html.twig" %}
{% block content %}
    <h1>Hello, {{ name }}!</h1>
{% endblock content %}