{% extends 'OroUIBundle:actions:update.html.twig' %}

{% set formAction = entity.id ? path('orocrm_app_task_update', { 'id': entity.id }) : path('orocrm_app_task_create') %}
{% set fullname = entity|oro_format_name|default('N/A') %}
{% oro_title_set({ params : {"%request.clientName%": fullname} }) %}

{% block navButtons %}
    {% if form.vars.value.id and resource_granted('orocrm_app_task_delete') %}
        {{ UI.deleteButton({
            'dataUrl': path('orocrm_app_task_delete', {'id': form.vars.value.id}),
            'dataRedirect': path('orocrm_app_task_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-contact-request-form',
            'dataId': form.vars.value.id,
            'entity_label': 'orocrm.customer.customerinfo.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.button({'path' : path('orocrm_app_task_index'), 'title' : 'Cancel'|trans, 'label' : 'Cancel'|trans}) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if resource_granted('orocrm_app_task_edit') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
        'entity':      form.vars.value,
        'indexPath':   path('orocrm_app_task_index'),
        'indexLabel': 'orocrm.customer.customerinfo.entity_plural_label'|trans,
        'entityTitle': fullname
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'orocrm.customer.customerinfo.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'contact-request-form' %}

    {% set dataBlocks = [{
    'title': 'orocrm.customer.block.general'|trans,
    'class': 'active',
    'subblocks': [
    {
    'title': 'orocrm.customer.block.request_information'|trans,
    'data': [
    form_row(form.name),
    form_row(form.dueDate),
    form_row(form.category),
    form_row(form.description),
    form_row(form.priority),
    ]
    }
    ]
    }] %}

    {% set additionalData = [] %}
    {% for child in form.children if child.vars.extra_field is defined and child.vars.extra_field %}
        {% set additionalData = additionalData|merge([form_row(child)]) %}
    {% endfor %}
    {% if additionalData is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
        'title':     'orocrm.customer.block.additional'|trans,
        'subblocks': [{ 'title': '', 'useSpan': false, 'data' : additionalData }]
        }] ) %}
    {% endif %}

    {% set data = {
    'formErrors': form_errors(form)? form_errors(form) : null,
    'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
