{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as ui %}
{% set fullname = entity|oro_format_name|default('N/A') %}
{% oro_title_set({ params : {"%request.clientName%": fullname} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('orocrm_app_task_index'),
    'indexLabel': 'orocrm.customer.customerinfo.entity_plural_label'|trans,
    'entityTitle': fullname
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if resource_granted('orocrm_contactus_request_delete') %}
        {{ UI.deleteButton({
            'dataUrl': path('orocrm_app_task_delete', {'id': entity.id}),
            'dataRedirect': path('orocrm_app_task_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-contact-request-form',
            'dataId': entity.id,
            'entity_label': 'orocrm.customer.customerinfo.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}

    {{ UI.button({'path' : path('orocrm_app_task_index'), 'title' : 'Cancel'|trans, 'label' : 'Cancel'|trans}) }}
    {% if resource_granted('orocrm_app_task_edit') %}
        {{ UI.editButton({
            'path': path('orocrm_app_task_update', {'id': entity.id}),
            'entity_label': 'orocrm.customer.customerinfo.entity_label'|trans,
        }) }}
    {% endif %}
{% endblock %}

{% block content_data %}
    {% set customersInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('orocrm_customer_info', {id: entity.id}),
            'title': 'orocrm.customer.block.request_information'|trans
        }) }}
    {% endset %}

    {% set dataBlocks = [
    {
    'title': 'General'|trans,
    'class': 'active',
    'subblocks': [
    {'data': [customersInformationWidget]}
    ]
    }
    ] %}

    {% set id = 'contactRequestView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock %}
